@keyframes toggle {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.9;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.Rico {
    opacity: 0.9;
    position: fixed;
    right: 0;
    bottom: -50px;
    z-index: 2;
    animation: toggle 10s ease-in-out infinite;
}